<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About the Developers</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Alice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  </style>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section class="about-us">
    <div class=" about-us-main">
        <div class="navbar">
            <div class="icon">
                <header>
                    <img src="logo.png" alt="AccessAble" class="logo">
                </header>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="https://www.dpwh.gov.ph/dpwh/references/laws_codes_orders/bpb344">Batas Pambansa Blg. 344</a></li>
                    <li><a href="https://drive.google.com/file/d/1v6xehMOJou9d1ecloxikx5slXDm2M1lR/view">Implementing Rules and Regulations</a></li>
                    <li><a href="about-us.html">About Us</a></li>
                </ul>
            </div>
        </div>

        <div class="about-us-page" style="background-image: url(about-us-bg.png);">

            <header>
                <img src="logo2.png" alt="logo2" class="about-us-logo">
            </header>
    
            <div class="about-us-content">
                <p class="tagline" style="color: #2a0947;">&ldquo;Accessibility for All&rdquo;</p>
                <p class="us">AccessAble is a database management system designed for the construction industry to 
                    quickly and effectively verify whether a certain structure meets the IRR of the Accessibility Law. 
                    By specifying a structure and inputting the dimensions, it will immediately determine if the structure 
                    or building component complies with the standards.</p>
                <p class="us">The purpose of this project is to develop an interactive website that emphasizes the importance of 
                    complying with BP 344 and its IRR in constructing buildings and structures.</p>
            </div>

        </div>
    </div>
    <section class="footer">
        <p class="footer-developers" style="color: black;">Developed by: <span style="color: #f46530;">GROUP 4 </span><span style="color: black;">|</span> <span style="color: #0097b2;">BSCE 4-2</span></p>
        <ul>
            <li><a href="#"><img src="BRUSOLA.png" alt="krisha" width="80" height="80"><br>BRUSOLA, KRISHA LORRAINE B.</a></li>
            <li><a href="#"><img src="CURTISS.jpg" alt="krisha" width="80" height="80"><br>CURTISS, KERR C.</a></li>
            <li><a href="#"><img src="PANGANIBAN.jpg" alt="krisha" width="80" height="80"><br>PANGANIBAN, KAILA MAE N.</a></li>
            <li><a href="#"><img src="RUBICO.jpg" alt="krisha" width="80" height="80"><br>RUBICO, COREENE JANE O.</a></li>
            <li><a href="#"><img src="TOLENTINO.png" alt="krisha" width="80" height="80"><br>TOLENTINO, MJ F.</a></li>
            <li><a href="#"><img src="VELUNTA.jpg" alt="krisha" width="80" height="80"><br>VELUNTA, KYLA A.</a></li>
        </ul>
    </section>
  </section>
</body>
</html>
